(
    id: "archer_shot",
    activator: OnInput(()),
    entities: [
        (components: [
            Projectile(()),
            Velocity((speed: Float(400.0))),
            Collider((shape: Circle(Float(16.0)))),
            Sprite((color: (1.0, 0.5, 0.0, 1.0))),
            OnCollision((entities: [
                (components: [DamagePayload((amount: Stat("physical_damage")))])
            ]))
        ])
    ]
)
