(
    id: "caustic_arrow",
    activator: OnInputParams((children: [
        SpawnProjectileParams((
            speed: Some(Float(600.0)),
            size: Some(Float(12.0)),
            color: Some([0.2, 0.8, 0.2, 1.0]),
            children: [
                OnCollisionParams((children: [
                    SpawnProjectileParams((
                        speed: Some(Float(0.0)),
                        size: Some(Float(100.0)),
                        lifetime: Some(Float(4.0)),
                        collisions: Some(false),
                        color: Some([0.1, 0.6, 0.1, 0.4]),
                        children: [
                            OnAreaParams((
                                radius: Some(Float(50.0)),
                                interval: Some(Float(0.5)),
                                children: [
                                    DamageParams((amount: Some(Float(5.0))))
                                ]
                            ))
                        ]
                    ))
                ]))
            ]
        ))
    ]))
)
