(
    id: "dash",
    tags: [],
    trigger: (
        trigger_type: "on_input",
        params: {},
    ),
    effects: [
        (
            effect_type: "dash",
            params: {
                "speed": Float(1500.0),
                "duration": Float(0.2),
            },
        ),
    ],
)
