(
    id: "fireball",
    trigger: ("on_input", [
        ("spawn_projectile", [
            ("on_hit", [
                ("damage", {"amount": Stat("physical_damage")}),
            ]),
        ]),
    ]),
)
