(
    id: "flamethrower",
    activator: WhileHeldParams((
        interval: Some(Float(0.03)),
        children: [
            SpawnProjectileParams((
                speed: Some(Float(600.0)),
                spread: Some(Float(18.0)),
                lifetime: Some(Float(0.6)),
                start_size: Some(Float(8.0)),
                end_size: Some(Float(25.0)),
                children: [
                    OnCollisionParams((children: [
                        DamageParams((amount: Some(Float(1.0))))
                    ]))
                ]
            ))
        ]
    ))
)
