(
    id: "orbiting_orbs",
    activator: Once(()),
    entities: [
        (
            count: Some(Int(3)),
            components: [
                Orbiting((radius: Float(80.0), angular_speed: Float(3.0))),
                Size((Float(20.0))),
                Collider((shape: Circle)),
                Sprite((color: (0.3, 0.7, 1.0, 1.0), shape: Circle)),
                Pierce(()),
                OnCollision((entities: [
                    (components: [DamagePayload((amount: Stat("physical_damage")))])
                ]))
            ]
        )
    ]
)
