(
    id: "orbiting_orbs",
    activator: OnceParams((children: [
        OrbitingParams((
            count: Some(Int(3)),
            radius: Some(Float(80.0)),
            angular_speed: Some(Float(3.0)),
            size: Some(Float(20.0)),
            children: [
                OnCollisionParams((children: [
                    DamageParams((amount: Some(Stat("physical_damage"))))
                ]))
            ]
        ))
    ]))
)
