(
    id: "shield",
    tags: [],
    activator: (
        activator_type: "on_input",
        params: {},
    ),
    effects: [
        (
            effect_type: "shield",
            params: {
                "duration": Float(0.5),
                "radius": Float(100.0),
            },
        ),
    ],
)
