(
    id: "shield",
    activator: OnInput(()),
    entities: [
        (components: [
            FollowCaster(()),
            Lifetime(("0.5")),
            Size(("200.0")),
            Sprite((color: (0.3, 0.5, 1.0, 0.3), shape: Circle)),
            DestroyEnemyProjectiles((size: "200.0")),
        ])
    ]
)
