(
    id: "slime",
    components: [
        Once((entities: [
            (
                base_stats: {"movement_speed_base": 100.0, "max_life_base": 50.0},
                components: [
                    Size((value: "60.0")),
                    Sprite((color: (0.2, 0.8, 0.2, 1.0), shape: Circle)),
                    Collider((shape: Circle, sensor: Some(false))),
                    DynamicBody(()),
                    Health(()),
                ],
                states: Some((
                    initial: "find_target",
                    states: {
                        "find_target": (
                            components: [FindNearestEnemy((size: "4000.0"))],
                            transitions: [WhenFoundTarget((to: "chase"))],
                        ),
                        "chase": (
                            components: [MoveToward(())],
                            transitions: [WhenNear((to: "attack", distance: "50.0"))],
                        ),
                        "attack": (
                            components: [],
                            transitions: [AfterTime((to: "chase", duration: "1.0"))],
                        ),
                    }
                ))
            )
        ]))
    ]
)
