(
    id: "jumper_shot",
    cooldown: Some("0"),
    entities: [
        (count: Some("4"), components: [
            Projectile(()),
            Radial(()),
            Straight((speed: "400.0", spread: Some("45"))),
            Size((value: "80.0")),
            Lifetime((remaining: "3.0")),
            Collider((shape: Circle)),
            Visual((children: [
                (components: [Shadow(())]),
                (components: [Sprite((color: "enemy_ability", shape: Circle, elevation: Some("1.5"), position: Some("vec2(0, 0)")))]),
            ])),
            OnCollision((entities: [
                (components: [DamagePayload((amount: "stat(physical_damage_flat)"))])
            ]))
        ])
    ]
)
