(
    id: "tower_shot",
    cooldown: Some("0"),
    entities: [
        (components: [
            ArcProjectile((
                duration: "0.8",
                arc_height: "8.0",
                start_elevation: Some("1.6"),
                spread: Some("450"),
                start_position: Some("caster.position"),
                entities: [
                    (components: [Particles((config: "tower_explosion"))]),
                    (components: [
                        OnArea((size: "400.0", entities: [
                            (components: [DamagePayload((amount: "stat(physical_damage_flat)"))])
                        ]))
                    ]),
                    (components: [
                        Size((value: "400.0")),
                        Sprite((color: ("enemy_ability", 0.4), shape: Disc, elevation: Some("0.02"))),
                        Lifetime((remaining: "0.5")),
                        FadeOut(()),
                    ]),
                ],
                indicators: [
                    (components: [
                        Size((value: "400.0")),
                        Sprite((color: ("enemy_ability", 0.2), shape: Disc, elevation: Some("0.02"))),
                        Growing((start_size: "0", end_size: "400.0")),
                        Lifetime((remaining: "0.8")),
                    ]),
                ],
            )),
            Size((value: "60.0")),
            Visual((children: [
                (components: [Shadow(())]),
                (components: [Sprite((color: "enemy_ability", shape: Circle, position: Some("vec2(0, 0)")))]),
            ])),
        ])
    ]
)
