(
    id: "caustic_arrow",
    cooldown: Some("0.5"),
    entities: [
        (
            count: Some("stat(projectile_count)"),
            components: [
            Projectile(()),
            Straight((speed: "600.0 * (1.0 + stat(projectile_speed_increased))")),
            Size((value: "48.0")),
            Collider((shape: Circle)),
            Sprite((color: (0.2, 0.8, 0.2, 1.0), shape: Circle)),
            OnCollision((entities: [
                (components: [
                    Lifetime((remaining: "4.0 * (1.0 + stat(duration_increased))")),
                    Size((value: "320.0")),
                    Sprite((color: (0.1, 0.6, 0.1, 0.4), shape: Circle)),
                    OnArea((size: "160.0 * (1.0 + stat(area_of_effect_increased))", interval: Some("0.5"), entities: [
                        (components: [DamagePayload((amount: "(2.0 + stat(physical_damage_base) * 0.15) * (1.0 + stat(physical_damage_increased)) * stat(physical_damage_more)"))])
                    ]))
                ])
            ]))
        ])
    ]
)
