(
    id: "fireball",
    cooldown: Some("0.5"),
    entities: [
        (
            count: Some("1 + stat(projectile_count)"),
            components: [
            Projectile(()),
            Parallel((gap: "60.0")),
            Straight((speed: "calc(projectile_speed, 800.0)")),
            Size((value: "60.0")),
            Collider((shape: Circle)),
            Visual((children: [
                (components: [Shadow(())]),
                (components: [Sprite((color: "player_ability", shape: Circle, elevation: Some("2"), position: Some("vec2(0, 0)")))]),
            ])),
            OnCollision((entities: [
                (components: [DamagePayload((amount: "calc(physical_damage, 1.0, 1)"))]),
                (components: [Particles((config: "hit_burst", position: Some("source.position")))]),
            ]))
        ])
    ]
)
