(
    id: "fireball",
    cooldown: Some("0.5"),
    entities: [
        (
            count: Some("1 + stat(projectile_count)"),
            components: [
            Projectile(()),
            Parallel((gap: "60.0")),
            Straight((speed: "calc(projectile_speed, 800.0)")),
            Size((value: "60.0")),
            Collider((shape: Circle)),
            Sprite((color: (1.0, 0.5, 0.0, 1.0), shape: Circle)),
            OnCollision((entities: [
                (components: [DamagePayload((amount: "calc(physical_damage, 15.0, 1)"))]),
                (components: [
                    Size((value: "320.0")),
                    Sprite((color: (1.0, 0.6, 0.1, 0.5), shape: Circle)),
                    Lifetime((remaining: "0.3")),
                    OnArea((size: "calc(area_of_effect, 160.0)", entities: [
                        (components: [DamagePayload((amount: "calc(physical_damage, 7.5, 0.5)"))])
                    ]))
                ])
            ]))
        ])
    ]
)
