(
    id: "galvanic_hammer",
    cooldown: Some("0.5"),
    entities: [
        (
            count: Some("1 + stat(projectile_count)"),
            components: [
            Projectile(()),
            Radial(()),
            Boomerang((speed: "calc(projectile_speed, 700.0)", max_distance: "600.0")),
            Size((value: "120.0")),
            Collider((shape: Circle)),
            Sprite((color: "player_ability", shape: Circle)),
            Pierce(()),
            OnCollision((entities: [
                (components: [DamagePayload((amount: "calc(physical_damage, 15.0, 1)"))])
            ]))
        ])
    ]
)
