(
    id: "galvanic_hammer",
    cooldown: Some("0.5"),
    entities: [
        (components: [
            Projectile(()),
            Boomerang((speed: "500.0", max_distance: "300.0")),
            Size((value: "120.0")),
            Collider((shape: Circle)),
            Sprite((color: (0.6, 0.8, 1.0, 1.0), shape: Square)),
            Pierce(()),
            OnCollision((entities: [
                (components: [DamagePayload((amount: "stat(physical_damage)"))])
            ]))
        ])
    ]
)
