(
    id: "galvanic_hammer",
    cooldown: Some("0.5"),
    entities: [
        (
            count: Some("1 + stat(projectile_count)"),
            components: [
            Projectile(()),
            Radial(()),
            Boomerang((speed: "700.0 * (1.0 + stat(projectile_speed_increased))", max_distance: "600.0")),
            Size((value: "120.0")),
            Collider((shape: Circle)),
            Sprite((color: (0.6, 0.8, 1.0, 1.0), shape: Square)),
            Pierce(()),
            OnCollision((entities: [
                (components: [DamagePayload((amount: "(15.0 + stat(physical_damage_flat)) * (1.0 + stat(physical_damage_increased)) * stat(physical_damage_more)"))])
            ]))
        ])
    ]
)
