(
    id: "meteor",
    cooldown: Some("3.0"),
    entities: [
        (
            count: Some("1 + stat(projectile_count)"),
            components: [
            Staggered((interval: "0.15", entities: [
                (components: [
                    FindRandomEnemy((size: "1400.0", random_fallback: Some(true))),
                    OnFound((entities: [
                        (components: [
                            Size((value: "320.0")),
                            Sprite((color: (1.0, 0.3, 0.0, 0.3), shape: Circle)),
                            Lifetime((remaining: "0.8"))
                        ]),
                        (components: [
                            Falling((height: "400.0", duration: "0.5", entities: [
                                (components: [
                                    Size((value: "320.0")),
                                    Sprite((color: (1.0, 0.7, 0.3, 1.0), shape: Circle)),
                                    Lifetime((remaining: "0.3")),
                                    OnArea((size: "calc(area_of_effect, 160.0)", entities: [
                                        (components: [DamagePayload((amount: "calc(physical_damage, 50.0, 1)"))])
                                    ]))
                                ])
                            ])),
                            Size((value: "100.0")),
                            Sprite((color: (1.0, 0.5, 0.0, 1.0)))
                        ])
                    ]))
                ])
            ]))
            ])
        ]
)
