[
    (id: "flat_max_life", name: "+{} max life", stat: "max_life_base",
     tiers: [(min: 10.0, max: 14.0), (min: 20.0, max: 28.0), (min: 34.0, max: 46.0), (min: 50.0, max: 70.0)]),
    (id: "increased_max_life", name: "+{}% max life", stat: "max_life_increased",
     tiers: [(min: 0.04, max: 0.06), (min: 0.08, max: 0.12), (min: 0.15, max: 0.21), (min: 0.24, max: 0.32)]),
    (id: "movement_speed", name: "+{}% movement speed", stat: "movement_speed_increased",
     tiers: [(min: 0.04, max: 0.06), (min: 0.08, max: 0.12), (min: 0.15, max: 0.21)]),
    (id: "flat_max_mana", name: "+{} max mana", stat: "max_mana_base",
     tiers: [(min: 10.0, max: 14.0), (min: 20.0, max: 28.0), (min: 34.0, max: 46.0)]),
    (id: "increased_max_mana", name: "+{}% max mana", stat: "max_mana_increased",
     tiers: [(min: 0.03, max: 0.05), (min: 0.06, max: 0.10), (min: 0.11, max: 0.17)]),
    (id: "flat_phys_damage", name: "+{} physical damage", stat: "physical_damage_base",
     tiers: [(min: 1.0, max: 3.0), (min: 3.0, max: 5.0), (min: 5.0, max: 9.0)]),
    (id: "crit_chance", name: "+{}% crit chance", stat: "crit_chance_base",
     tiers: [(min: 0.01, max: 0.03), (min: 0.03, max: 0.05), (min: 0.05, max: 0.09)]),
    (id: "projectile_speed", name: "+{}% projectile speed", stat: "projectile_speed_increased",
     tiers: [(min: 0.02, max: 0.04), (min: 0.06, max: 0.10), (min: 0.11, max: 0.17)]),
]
