[
    (id: "flat_phys_damage", tiers: [
        (stats: [Range(stat: "physical_damage_flat", min: 1.0, max: 3.0)]),
        (stats: [Range(stat: "physical_damage_flat", min: 4.0, max: 6.0)]),
        (stats: [Range(stat: "physical_damage_flat", min: 6.0, max: 10.0)]),
        (stats: [Range(stat: "physical_damage_flat", min: 10.0, max: 14.0)]),
    ]),
    (id: "increased_phys_damage", tiers: [
        (stats: [Range(stat: "physical_damage_increased", min: 0.03, max: 0.05)]),
        (stats: [Range(stat: "physical_damage_increased", min: 0.06, max: 0.10)]),
        (stats: [Range(stat: "physical_damage_increased", min: 0.11, max: 0.17)]),
        (stats: [Range(stat: "physical_damage_increased", min: 0.18, max: 0.26)]),
    ]),
    (id: "flat_max_life", tiers: [
        (stats: [Range(stat: "max_life_flat", min: 6.0, max: 10.0)]),
        (stats: [Range(stat: "max_life_flat", min: 12.0, max: 20.0)]),
        (stats: [Range(stat: "max_life_flat", min: 22.0, max: 34.0)]),
        (stats: [Range(stat: "max_life_flat", min: 32.0, max: 48.0)]),
    ]),
    (id: "increased_max_life", tiers: [
        (stats: [Range(stat: "max_life_increased", min: 0.03, max: 0.05)]),
        (stats: [Range(stat: "max_life_increased", min: 0.06, max: 0.10)]),
        (stats: [Range(stat: "max_life_increased", min: 0.11, max: 0.17)]),
    ]),
    (id: "crit_chance", tiers: [
        (stats: [Range(stat: "crit_chance_flat", min: 0.01, max: 0.03)]),
        (stats: [Range(stat: "crit_chance_flat", min: 0.04, max: 0.06)]),
        (stats: [Range(stat: "crit_chance_flat", min: 0.06, max: 0.10)]),
    ]),
    (id: "crit_multiplier", tiers: [
        (stats: [Range(stat: "crit_multiplier", min: 0.06, max: 0.10)]),
        (stats: [Range(stat: "crit_multiplier", min: 0.12, max: 0.20)]),
        (stats: [Range(stat: "crit_multiplier", min: 0.22, max: 0.34)]),
    ]),
    (id: "movement_speed", tiers: [
        (stats: [Range(stat: "movement_speed_increased", min: 0.02, max: 0.04)]),
        (stats: [Range(stat: "movement_speed_increased", min: 0.05, max: 0.09)]),
        (stats: [Range(stat: "movement_speed_increased", min: 0.09, max: 0.15)]),
    ]),
    (id: "projectile_speed", tiers: [
        (stats: [Range(stat: "projectile_speed_increased", min: 0.03, max: 0.05)]),
        (stats: [Range(stat: "projectile_speed_increased", min: 0.08, max: 0.12)]),
        (stats: [Range(stat: "projectile_speed_increased", min: 0.13, max: 0.19)]),
    ]),
    (id: "flat_max_mana", tiers: [
        (stats: [Range(stat: "max_mana_flat", min: 6.0, max: 10.0)]),
        (stats: [Range(stat: "max_mana_flat", min: 12.0, max: 20.0)]),
        (stats: [Range(stat: "max_mana_flat", min: 22.0, max: 34.0)]),
    ]),
]
