[
    (
        name: "flat_increased_more",
        params: ["default", "flat", "increased", "more"],
        formula: "(stat({flat}) + {default}) * (1 + stat({increased})) * stat({more})",
    ),
    (
        name: "flat_increased",
        params: ["default", "flat", "increased"],
        formula: "(stat({flat}) + {default}) * (1 + stat({increased}))",
    ),
]
