(
    mob_unlocks: (
        slime_small: 1,
        ghost: 3,
        tower: 5,
        jumper: 8,
        spinner: 13,
    ),
    waves: [
        (enemy_variety: 1, max_concurrent: 5,  hp_multiplier: 1.0,         damage_multiplier: 1.0),
        (enemy_variety: 1, max_concurrent: 6,  hp_multiplier: 2.0,         damage_multiplier: 1.2),
        (enemy_variety: 2, max_concurrent: 7,  hp_multiplier: 4.0,         damage_multiplier: 1.44),
        (enemy_variety: 2, max_concurrent: 8,  hp_multiplier: 8.0,         damage_multiplier: 1.728),
        (enemy_variety: 3, max_concurrent: 8,  hp_multiplier: 16.0,        damage_multiplier: 2.0736),
        (enemy_variety: 3, max_concurrent: 9,  hp_multiplier: 32.0,        damage_multiplier: 2.4883),
        (enemy_variety: 3, max_concurrent: 10, hp_multiplier: 64.0,        damage_multiplier: 2.986),
        (enemy_variety: 4, max_concurrent: 11, hp_multiplier: 128.0,       damage_multiplier: 3.5832),
        (enemy_variety: 4, max_concurrent: 12, hp_multiplier: 256.0,       damage_multiplier: 4.2998),
        (enemy_variety: 4, max_concurrent: 13, hp_multiplier: 512.0,       damage_multiplier: 5.1598),
        (enemy_variety: 4, max_concurrent: 13, hp_multiplier: 1024.0,      damage_multiplier: 6.1917),
        (enemy_variety: 4, max_concurrent: 14, hp_multiplier: 2048.0,      damage_multiplier: 7.4301),
        (enemy_variety: 5, max_concurrent: 15, hp_multiplier: 4096.0,      damage_multiplier: 8.9161),
        (enemy_variety: 5, max_concurrent: 16, hp_multiplier: 8192.0,      damage_multiplier: 10.6993),
        (enemy_variety: 5, max_concurrent: 17, hp_multiplier: 16384.0,     damage_multiplier: 12.8392),
        (enemy_variety: 5, max_concurrent: 18, hp_multiplier: 32768.0,     damage_multiplier: 15.407),
        (enemy_variety: 5, max_concurrent: 18, hp_multiplier: 65536.0,     damage_multiplier: 18.4884),
        (enemy_variety: 5, max_concurrent: 19, hp_multiplier: 131072.0,    damage_multiplier: 22.1861),
        (enemy_variety: 5, max_concurrent: 20, hp_multiplier: 262144.0,    damage_multiplier: 26.6233),
        (enemy_variety: 5, max_concurrent: 21, hp_multiplier: 524288.0,    damage_multiplier: 31.948),
        (enemy_variety: 5, max_concurrent: 22, hp_multiplier: 1048576.0,   damage_multiplier: 38.3376),
        (enemy_variety: 5, max_concurrent: 23, hp_multiplier: 2097152.0,   damage_multiplier: 46.0051),
        (enemy_variety: 5, max_concurrent: 23, hp_multiplier: 4194304.0,   damage_multiplier: 55.2061),
        (enemy_variety: 5, max_concurrent: 24, hp_multiplier: 8388608.0,   damage_multiplier: 66.2474),
        (enemy_variety: 5, max_concurrent: 25, hp_multiplier: 16777216.0,  damage_multiplier: 79.4969),
    ],
)
