(
    id: "base_hero",
    entities: [
        (
            base_stats: {
                "max_stamina_flat": 60.0,
                "movement_speed_flat": 350.0,
                "crit_chance_flat": 0.05,
                "crit_multiplier": 1.5,
                "pickup_radius_flat": 200.0,
            },
            components: [
                Size((value: "200.0")),
                Visual((children: [
                    (components: [Shadow(())]),
                    (components: [
                        Sprite((color: "player", shape: Circle)),
                        JumpWalkAnimation((bounce_height: Some("0.6"), bounce_speed: Some("7.0"))),
                    ]),
                ])),
                Collider((shape: Rectangle, sensor: Some(false))),
                DynamicBody(()),
                Health((current: Some("stat(max_stamina)"))),
                KeyboardMovement(()),
                PlayerInput((bindings: [
                    (slot: Active, trigger: MouseHold(Left), targeting: Cursor),
                    (slot: Defensive, trigger: KeyJustPressed(Space), targeting: MovementDirection),
                    (slot: Passive, trigger: Auto, targeting: Untargeted),
                ])),
            ],
        ),
    ],
)
