(
    name: "archer",
    abilities: ["archer_shot"],
    visual: (
        shape: Triangle,
        size: 30.0,
        color: (0.8, 0.3, 0.3),
    ),
    collider: (
        shape: Circle,
        size: 30.0,
    ),
    base_stats: {
        "movement_speed_base": 80.0,
        "max_life_base": 30.0,
        "physical_damage_base": 10.0,
    },
    initial_state: "kite",
    states: {
        "kite": (
            behaviour: [
                KeepDistance(min: 150.0, max: 300.0),
                UseAbilities(abilities: ["archer_shot"], cooldown: 2.0),
            ],
            transitions: [],
        ),
    }
)
