(
    id: "archer",
    entities: [
        (
            base_stats: {
                "movement_speed_flat": 150.0,
                "max_life_flat": 30.0,
                "physical_damage_flat": 10.0,
            },
            abilities: ["archer_shot"],
            components: [
                Size((value: "192.0")),
                Visual((children: [
                    (components: [Shadow(())]),
                    (components: [
                        Sprite((position: Some("vec2(0, 0)"), image: Some("images/sprites/Goblin_Archer.png"))),
                        JumpWalkAnimation(()),
                    ]),
                ])),
                Collider((shape: Circle, sensor: Some(false))),
                DynamicBody(()),
                Health(()),
            ],
            states: Some((
                initial: "find_target",
                states: {
                    "find_target": (
                        components: [FindNearestEnemy((size: "4000.0"))],
                        transitions: [WhenFoundTarget((to: "kite"))],
                    ),
                    "kite": (
                        components: [
                            KeepDistance((min: "150.0", max: "300.0")),
                            UseAbilities((abilities: ["archer_shot"], cooldown: Some("2.0"))),
                        ],
                        transitions: [],
                    ),
                }
            ))
        )
    ]
)
