(
    id: "ghost",
    entities: [
        (
            base_stats: {
                "movement_speed_flat": 120.0,
                "max_life_flat": 5.0,
                "physical_damage_flat": 8.0,
            },
            abilities: ["melee_attack"],
            components: [
                Size((value: "150.0")),
                Visual((children: [
                    (components: [Shadow(())]),
                    (components: [
                        Sprite((position: Some("vec2(0, 0)"), color: "enemy", shape: Circle)),
                        BobbingAnimation(()),
                    ]),
                ])),
                GhostTransparency(()),
                Collider((shape: Circle, sensor: Some(false))),
                DynamicBody((mass: Some("1"))),
                Health(()),
                OnDeath((entities: [
                    (components: [Particles((config: "enemy_death"))]),
                ])),
            ],
            states: Some((
                initial: "find_target",
                states: {
                    "find_target": (
                        components: [FindNearestEnemy((size: "4000.0"))],
                        transitions: [WhenFoundTarget((to: "chase"))],
                    ),
                    "chase": (
                        components: [MoveToward(())],
                        transitions: [WhenNear((to: "attack", distance: "80.0"))],
                    ),
                    "attack": (
                        components: [MoveToward(()), UseAbilities((abilities: ["melee_attack"], cooldown: Some("1.0")))],
                        transitions: [AfterTime((to: "chase", duration: "1.0"))],
                    ),
                }
            ))
        )
    ]
)
