(
    id: "jumper",
    entities: [
        (
            base_stats: {
                "movement_speed_flat": 400.0,
                "max_life_flat": 10.0,
                "physical_damage_flat": 8.0,
            },
            abilities: ["jumper_shot"],
            components: [
                Size((value: "200.0")),
                Visual((children: [
                    (components: [Shadow(())]),
                    (components: [
                        Sprite((position: Some("vec2(0, 0)"), color: "enemy", shape: Circle)),
                        JumpWalkAnimation((bounce_height: Some("0.7"), bounce_duration: Some("0.5"), land_duration: Some("0.4"), land_squish: Some("0.7"))),
                    ]),
                ])),
                Collider((shape: Circle, sensor: Some(false))),
                DynamicBody((mass: Some("10"))),
                Health(()),
                FindNearestEnemy((size: "4000.0")),
                JumperAi((ability: "jumper_shot", idle_duration: Some("3.0"), jump_duration: Some("0.5"), land_duration: Some("0.5"), jump_distance: Some("350"))),
                OnDeath((entities: [
                    (components: [Particles((config: "enemy_death_large"))]),
                ])),
            ],
        )
    ]
)
