(
    id: "skeleton",
    entities: [
        (
            base_stats: {
                "movement_speed_flat": 200.0,
                "max_life_flat": 50.0,
                "physical_damage_flat": 8.0,
            },
            abilities: ["melee_attack"],
            components: [
                Size((value: "192.0")),
                Visual((children: [
                    (components: [Shadow(())]),
                    (components: [
                        Sprite((position: Some("vec2(0, 0)"), image: Some("images/sprites/Skeleton_1.png"), scale: Some("2"))),
                        JumpWalkAnimation(()),
                    ]),
                ])),
                Collider((shape: Circle, sensor: Some(false))),
                DynamicBody(()),
                Health(()),
            ],
            states: Some((
                initial: "find_target",
                states: {
                    "find_target": (
                        components: [FindNearestEnemy((size: "4000.0"))],
                        transitions: [WhenFoundTarget((to: "chase"))],
                    ),
                    "chase": (
                        components: [MoveToward(())],
                        transitions: [WhenNear((to: "attack", distance: "130.0"))],
                    ),
                    "attack": (
                        components: [MoveToward(()), UseAbilities((abilities: ["melee_attack"], cooldown: Some("0.5")))],
                        transitions: [AfterTime((to: "chase", duration: "1.0"))],
                    ),
                }
            ))
        )
    ]
)
