(
    id: "slime_small",
    entities: [
        (
            base_stats: {
                "movement_speed_flat": 400.0,
                "max_life_flat": 15.0,
                "physical_damage_flat": 5.0,
            },
            abilities: ["melee_attack"],
            components: [
                Size((value: "80.0")),
                Visual((children: [
                    (components: [Shadow(())]),
                    (components: [
                        Sprite((position: Some("vec2(0, 0)"), image: Some("images/sprites/Slime_Green.png"))),
                        SquishWalkAnimation(()),
                    ]),
                ])),
                Collider((shape: Circle, sensor: Some(false))),
                DynamicBody(()),
                Health(()),
            ],
            states: Some((
                initial: "find_target",
                states: {
                    "find_target": (
                        components: [FindNearestEnemy((size: "4000.0"))],
                        transitions: [WhenFoundTarget((to: "lunge"))],
                    ),
                    "lunge": (
                        components: [LungeMovement(())],
                        transitions: [WhenNear((to: "attack", distance: "100.0"))],
                    ),
                    "attack": (
                        components: [LungeMovement(()), UseAbilities((abilities: ["melee_attack"], cooldown: Some("0.5")))],
                        transitions: [AfterTime((to: "lunge", duration: "0.8"))],
                    ),
                }
            ))
        )
    ]
)
