(
    id: "slime_medium",
    entities: [
        (
            base_stats: {
                "movement_speed_base": 320.0,
                "max_life_base": 30.0,
                "physical_damage_base": 7.0,
            },
            abilities: ["melee_attack"],
            components: [
                Size((value: "144.0")),
                Visual((children: [
                    (components: [Shadow(())]),
                    (components: [
                        Sprite((position: Some("vec2(0, 0)"), image: Some("images/sprites/Slime_LightGreen.png"))),
                        SquishWalkAnimation(()),
                    ]),
                ])),
                Collider((shape: Circle, sensor: Some(false))),
                DynamicBody(()),
                Health(()),
                OnDeath((entities: [
                    (count: Some("2"), components: [
                        SpawnAbility((blueprint: "slime_small")),
                    ])
                ])),
            ],
            states: Some((
                initial: "find_target",
                states: {
                    "find_target": (
                        components: [FindNearestEnemy((size: "4000.0"))],
                        transitions: [WhenFoundTarget((to: "lunge"))],
                    ),
                    "lunge": (
                        components: [LungeMovement(())],
                        transitions: [WhenNear((to: "attack", distance: "120.0"))],
                    ),
                    "attack": (
                        components: [LungeMovement(()), UseAbilities((abilities: ["melee_attack"], cooldown: Some("0.5")))],
                        transitions: [AfterTime((to: "lunge", duration: "0.8"))],
                    ),
                }
            ))
        )
    ]
)
