(
    id: "slime_giant",
    entities: [
        (
            base_stats: {
                "movement_speed_base": 100.0,
                "max_life_base": 120.0,
                "physical_damage_base": 15.0,
            },
            abilities: ["melee_attack"],
            components: [
                Size((value: "100.0")),
                Sprite((color: (0.1, 0.6, 0.4, 1.0), shape: Circle)),
                Collider((shape: Circle, sensor: Some(false))),
                DynamicBody(()),
                Health(()),
                OnDeath((entities: [
                    (count: Some("2"), components: [
                        SpawnAbility((blueprint: "slime_large")),
                    ])
                ])),
            ],
            states: Some((
                initial: "find_target",
                states: {
                    "find_target": (
                        components: [FindNearestEnemy((size: "4000.0"))],
                        transitions: [WhenFoundTarget((to: "lunge"))],
                    ),
                    "lunge": (
                        components: [LungeMovement(())],
                        transitions: [WhenNear((to: "attack", distance: "100.0"))],
                    ),
                    "attack": (
                        components: [LungeMovement(()), UseAbilities((abilities: ["melee_attack"], cooldown: Some("0.5")))],
                        transitions: [AfterTime((to: "lunge", duration: "0.8"))],
                    ),
                }
            ))
        )
    ]
)
