(
    name: "slime",
    abilities: [],
    visual: (
        shape: Circle,
        size: 60.0,
        color: (0.2, 0.8, 0.2),
    ),
    collider: (
        shape: Circle,
        size: 60.0,
    ),
    base_stats: {
        "movement_speed_base": 100.0,
        "max_life_base": 50.0,
    },
    initial_state: "chase",
    states: {
        "chase": (
            behaviour: [MoveTowardPlayer],
            transitions: [WhenNear([("attack", 50.0)])],
        ),
        "attack": (
            behaviour: [],
            transitions: [AfterTime("chase", 1.0)],
        ),
    }
)
