(
    id: "spinner",
    entities: [
        (
            base_stats: {
                "max_life_flat": 15.0,
                "physical_damage_flat": 10.0,
            },
            abilities: [],
            components: [
                Size((value: "100.0")),
                Visual((children: [
                    (components: [Shadow(())]),
                    (components: [
                        Sprite((color: "enemy", shape: Circle)),
                    ]),
                ])),
                SpinnerVisual((spike_length: Some("1"))),
                Collider((shape: Circle, sensor: Some(false))),
                DynamicBody((mass: Some("20"))),
                Health(()),
                FindNearestEnemy((size: "4000.0")),
                SpinnerAi((idle_duration: Some("0.5"), windup_duration: Some("3.0"), charge_duration: Some("1.0"), cooldown_duration: Some("0.5"), charge_speed: Some("1200"))),
                OnDeath((entities: [
                    (components: [Particles((config: "enemy_death_large"))]),
                ])),
            ],
        )
    ]
)
