(
    id: "tower",
    entities: [
        (
            base_stats: {
                "max_life_flat": 25.0,
                "physical_damage_flat": 6.0,
            },
            abilities: ["tower_shot"],
            components: [
                Size((value: "150.0")),
                Visual((children: [
                    (components: [Shadow(())]),
                    (components: [
                        Sprite((
                        	elevation: Some("1.2"),
                            position: Some("vec2(0, 0)"),
                            color: "enemy",
                            shape: Circle,
                        )),
                    ]),
                ])),
                TowerVisual(()),
                Collider((shape: Circle, sensor: Some(false))),
                StaticBody(()),
                Health(()),
                ShootSquish(()),
                FindNearestEnemy((size: "4000.0")),
                UseAbilities((abilities: ["tower_shot"], cooldown: Some("2.5"))),
                OnDeath((entities: [
                    (components: [Particles((config: "enemy_death_large"))]),
                ])),
            ],
        )
    ]
)
